* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  
}

.app {
  background-color: #f5f6fa;
  padding: 20px;
}

.app__body {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  float: right;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.app__left {
  float: left;
}

.app__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.app__chart {
  height: 100%;
}
.app__chart h3 {
  margin: 20px 0px;
}

.chart {
  
}

.MuiCardContent-root {
  height: 100%;
}

@media (max-width: 990px) {
  .app__body {
    flex-direction: column-reverse;
  }

  .app__right {
    margin: 0px 0px 20px 0px ;
  }

  .app__header h1 {
    font-size: 1.1rem;
  }
}
