* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  
}

.app {
  background-color: #f5f6fa;
  padding: 20px;
}

.app__body {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: rgb(68, 68, 68);
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  float: right;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.app__left {
  float: left;
}

.app__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.app__chart {
  height: 100%;
}
.app__chart h3 {
  margin: 20px 0px;
}

.MuiCardContent-root {
  height: 100%;
}

.blink_me {
  color: red;
  animation: blinker 2s linear infinite;
}

.app__footer {
  text-align: center;
  margin-top: 30px;
  color: rgb(68, 68, 68);
  text-decoration: none;
}

.red {
  color: red;
}

.green {
  color: rgb(0, 255, 34);
}

.app__footer a {
  text-decoration: none;
}

.app__footer a:hover {
  text-decoration: underline;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 990px) {
  .app__body {
    flex-direction: column-reverse;
  }

  .app__right {
    margin: 0px 0px 20px 0px ;
  }

  .app__header h1 {
    font-size: 1.1rem;
  }
}
